<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cp.brittany.dixon">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".base.AppController"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrittanyDixon"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.home.podcast.ComingPodcastActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.shipping_address.SearchableSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.shops_tab.CollectionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.profile_tab.BookmarkDetailsActivity"
            android:exported="false" />
        <activity android:name=".activities.home.my_orders.RatingActivity" />
        <activity android:name=".activities.home.premium.PremiumActivity" />
        <activity android:name=".activities.home.workout_detail.WorkoutCompletionActivity" />
        <activity android:name=".activities.home.premium.SubscriptionDetailsActivity" />
        <activity
            android:name=".activities.home.shops_tab.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.home.search.SimpleFoodSearchActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.checkout_payment.AddNewCardActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.shipping_address.AddNewShippingAddressActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ZoomImageActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.search_filters.InsightFiltersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.search_filters.FoodFilterActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.shops_tab.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.shops_tab.NewArrivalDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.food_tab.RecipeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.dietary_preference.DietaryPreferencesActivity"
            android:exported="true" />
        <activity
            android:name=".activities.auth.workout_method.WorkoutMethodActivity"
            android:exported="true" />
        <activity
            android:name=".activities.home.notifications.NotificationsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.start_workout.StartWorkoutActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.edit_profile.EditProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.workout_detail.WorkoutDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.video_full_screen.VideoFullScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.home.my_orders.MyOrdersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.order_review.OrderReviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.checkout_payment.CheckoutPaymentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.checkout_shipping.CheckoutShippingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.faq_feedback.FaqFeedbackActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.cart.CartActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.product_page.ProductPageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.order_done.OrderDoneActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.search_filters.WorkoutFiltersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.search.SearchActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.shipping_address.ShippingAddressActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.invite_friend.InviteFriendActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.bookmarks.BookmarksActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.payment.PaymentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.change_password.ChangePasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.change_email.ChangeEmailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.profile_setting.ProfileSettingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.insight_rec_detail.InsightRecommendationDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.auth.verify_otp.VerifyOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.home.HomeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activities.auth.create_new_password.CreateNewPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.auth.forgot_password.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.auth.signup.SignUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.auth.login.SignInActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.boarding.BoardingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".base.ImagePickerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/web_link_url"
                    android:scheme="@string/web_link_url_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.home.start_workout.PlayWorkoutVideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".activities.home.start_workout.ExerciseRestActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".activities.home.podcast.PlayPodcastActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".activities.home.start_workout.StartSectionActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".activities.home.premium.SubscriptionBoughtActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <!-- Preloading video service -->
        <service android:name=".utils.VideoPreLoadingService" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"

            android:resource="@drawable/ic_notification" />
    </application>
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
        <package android:name="com.facebook.android" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.orca" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>